a {
	cursor: pointer;
}

legend {
	margin-top: 30px;
}

table > thead > tr > th {
	vertical-align: middle !important;
}

.toolbar {
	float: right;
}

.toolbar > .form-group {
	display: inline-block;
}
