<html>
	<head>
		<title>Angular-UI-Query-Builder</title>

		<!-- Font-awesome -->
		<link href="node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
		<!-- jQuery -->
		<script src="node_modules/jquery/dist/jquery.min.js"></script>

		<!-- Bootstrap -->
		<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
		<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- Lodash -->
		<script src="node_modules/lodash/lodash.min.js"></script>

		<!-- Moment -->
		<script src="node_modules/moment/min/moment.min.js"></script>

		<!-- Angular -->
		<script src="node_modules/angular/angular.min.js"></script>

		<!-- Angular-UI-Query-Builder -->
		<script src="dist/angular-ui-query-builder.js"></script>
		<link rel="stylesheet" href="dist/angular-ui-query-builder.css">

		<!-- Angular-UI-Query-Builder Demo -->
		<script src="app.js"></script>
		<link rel="stylesheet" href="app.css">
	</head>
	<body ng-app="app">
		<a href="https://github.com/MomsFriendlyDevCo/angular-ui-query-builder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
		<div ng-controller="queryBuilderExampleCtrl" class="container">

			<h2>Angular-UI-Query-Builder</h2>

			<legend>Query builder</legend>
			<ui-query-builder
				query="query"
				spec="spec"
			></ui-query-builder>

			<legend>Generated query</legend>
			<pre>{{query | json}}</pre>


			<legend>Query builder + table</legend>

			<table class="table table-bordered table-striped table-hover" q-table="query">
				<thead>
					<tr>
						<th q="status" sortable width="60px">Status</th>
						<th q="name" sortable>Name</th>
						<th q="username" sortable>Username</th>
						<th q="email" sortable>Email</th>
						<th q="address">Address</th>
						<th q="website" sortable>Website</th>
						<th q="company.name" sortable>Company</th>
						<th q="role" sortable>Role</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in data track by row.id">
						<td class="text-center">
							<i class="fa fa-fw fa-lg" ng-class="
								row.status == 'active' ? 'fa-check text-success'
								: row.status == 'pending' ? 'fa-question-circle text-warning'
								: row.status == 'deleted' ? 'fa-trash text-danger'
								: 'fa-question text-danger'
							"></i>
						</td>
						<td>{{row.name}}</td>
						<td>{{row.username}}</td>
						<td>{{row.email}}</td>
						<td>
							<address>
								{{row.address.street}}<br/>
								{{row.address.city}}<br/>
								{{row.address.zip}}<br/>
								{{row.address.state}}<br/>
								{{row.address.country}}<br/>
								<span ng-if="row.phone">
									<i class="fa fa-phone"></i>
									{{row.phone}}
								</span>
							</address>
						</td>
						<td>{{row.website}}</td>
						<td>{{row.company.name}}</td>
						<td>{{row.role}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="10">
							<q-pagination></q-pagination>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</body>
</html>
