.ui-query-builder {
}

.ui-query-builder a {
	cursor: pointer;
}

ui-query-builder-branch {
	/* ADAM - This is my pretty crappy attempt to display where the indentation of nested branches occurs - please correct this with a nicer layout */
	border-left: 20px solid #f00;
	display: block;
}

/* Query blocks {{{ */
.ui-query-builder .query-container {
	align-items: center;
	display: flex;
	min-height: 30px;
	margin-bottom: 5px;
}

.ui-query-builder .query-block {
	min-width: 200px;
	max-width: 400px;
	margin-left: 30px;
	position: relative;
	vertical-align: middle;
}
.ui-query-builder .query-container > .query-block:first-child {
	margin-left: 17px;
}
/* }}} */
/* Query block stems (connecting lines between blocks) {{{ */
.ui-query-builder .query-block:first-child::after,
.ui-query-builder .query-block::before {
	background-color: #ccc;
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
}
/* Connector lines {{{ */
.ui-query-builder .query-block::before {
	height: 4px;
	left: -30px;
	top: calc(50% - 2px);
	width: 30px;
}
/* }}} */
/* Root line {{{ */
.ui-query-builder .query-block:first-child::after {
	left: -17px;
	width: 4px;
}
.ui-query-builder .query-block:first-child::before {
	left: -17px;
}
/* Middle piece */
.ui-query-builder .query-block:first-child::after {
	height: 150%;
	top: -25%;
}
/* Top piece */
.ui-query-builder .query-container:first-of-type .query-block:first-child::after {
	height: 100%;
	top: 50%;
}
/* Bottom piece */
.ui-query-builder .query-container:last-child .query-block:first-child::after {
	bottom: 50%;
	height: 100%;
	top: initial;
}
/* }}} */
/* }}} */

/* Pills {{{ */
.ui-query-builder .pill {
	display: inline-block;
	background-color: #5bc0de;
	margin: 2px;
	padding: 4px 10px;
	min-width: 10px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
}
/* }}} */

/* Buttons {{{ */
.ui-query-builder .btn.btn-1,
.ui-query-builder .btn.btn-2,
.ui-query-builder .btn.btn-3,
.ui-query-builder .btn.btn-4
{
	color: #FFF;
	min-height: 33px;
}

.btn-fill { /* Stretch an inner button to the maximum extent */
	margin: -8px -12px;
	min-height: 33px;
	padding: 8px;
	white-space: normal;
}

.ui-query-builder .btn.btn-add {
	z-index: 1;
	padding: 6px 3px;
}

.ui-query-builder .btn.btn-1 {background: #104E8B}
.ui-query-builder .btn.btn-2 {background: #1874CD}
.ui-query-builder .btn.btn-3 {background: #1C86EE}
.ui-query-builder .btn.btn-4 {background: #62a8ec}

.ui-query-builder .btn > input.form-control {
	background: transparent;
	box-shadow: none;
	padding: 0;
	color: #FFF;
	height: auto;
	cursor: pointer;
	border: 0;
}

/* Trash buttons {{{ */
.ui-query-builder .btn > .btn.btn-trash {
	display: none;
	padding: 8px 11px;
	margin: 0px -36px -15px 0;
	position: relative;
	left: -13px;
	top: -7px;
	height: 33px;
	font-size: 1.5rem;
}

.ui-query-builder .btn:hover > .btn.btn-trash {
	display: block;
}
/* }}} */

/* BUGFIX: Disable silly box-shadow when opening a dropdown {{{ */
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
/* }}} */
/* }}} */

/* Mouse hovering {{{ */
.ui-query-builder .btn i.fa-caret-down {
	float: right;
	margin-top: 2px;
	visibility: hidden;
}

.ui-query-builder .btn:hover i.fa-caret-down {
	visibility: visible;
}

.ui-query-builder .btn > input.form-control {
	border-bottom: 1px solid transparent;
	border-radius: 0;
}
.ui-query-builder .btn:hover > input.form-control {
	border-bottom: 1px solid #AAA;
}
/* }}} */
