.ui-query-builder {
}

.ui-query-builder a {
	cursor: pointer;
}

/* Query blocks {{{ */
.ui-query-builder .query-container {
	font-size: 0; /* Hack to remove all spacing between inline-blocks. @see https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
	min-height: 40px;
}

.ui-query-builder .query-container .query-stem,
.ui-query-builder .query-container .query-block {
	display: inline-block;
	vertical-align: middle;
}

.ui-query-builder .query-container .query-block {
	min-width: 200px;
	max-width: 400px;
}
/* }}} */
/* Query block stems (connecting lines between blocks) {{{ */
/* Root line {{{ */
.ui-query-builder .query-container .query-stem:first-child {
	width: 20px;
}

.ui-query-builder .query-container .query-stem:first-child > div {
	display: block;
	background: #BBB;
	height: 50px;
	width: 10px;
	margin-left: 13px;
	margin-top: 0px;
}

.ui-query-builder .query-container .query-stem.query-stem-root-last:first-child > div {
	height: 10px;
}
/* }}} */
/* Connector lines {{{ */
.ui-query-builder .query-container .query-stem {
	width: 20px;
}

.ui-query-builder .query-container .query-stem > div {
	display: block;
	background: #BBB;
	width: 100%;
	height: 10px;
	margin-top: 13px;
}
/* }}} */
/* }}} */

/* Pills {{{ */
.ui-query-builder .pill {
	display: inline-block;
	background-color: #5bc0de;
	margin: 2px;
	padding: 4px 10px;
	min-width: 10px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
}
/* }}} */

/* Buttons {{{ */
.ui-query-builder .btn.btn-1,
.ui-query-builder .btn.btn-2,
.ui-query-builder .btn.btn-3,
.ui-query-builder .btn.btn-4
{
	color: #FFF;
	z-index: 1;
	min-height: 33px;
}

.btn-fill { /* Stretch an inner button to the maximum extent */
	margin: -8px -12px;
	min-height: 33px;
	padding: 8px;
	white-space: normal;
}

.ui-query-builder .btn.btn-add {
	z-index: 1;
}

.ui-query-builder .btn.btn-1 {background: #104E8B}
.ui-query-builder .btn.btn-2 {background: #1874CD}
.ui-query-builder .btn.btn-3 {background: #1C86EE}
.ui-query-builder .btn.btn-4 {background: #1E90FF}

.ui-query-builder .btn > input.form-control {
	background: transparent;
	box-shadow: none;
	padding: 0;
	color: #FFF;
	height: auto;
	cursor: pointer;
	border: 0;
}

/* BUGFIX: Disable silly box-shadow when opening a dropdown {{{ */
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
/* }}} */
/* }}} */

/* Mouse hovering {{{ */
.ui-query-builder .btn i.fa-caret-down {
	float: right;
	margin-top: 2px;
	visibility: hidden;
}

.ui-query-builder .btn:hover i.fa-caret-down {
	visibility: visible;
}

.ui-query-builder .btn:hover > input.form-control {
	border-bottom: 1px solid #AAA;
}
/* }}} */
