.ui-query-builder {
}

.ui-query-builder a {
	cursor: pointer;
}

.ui-query-builder .row .col-md-1,
.ui-query-builder .row .col-md-2
{
	height: 40px;
}

/* Badges {{{ */
.ui-query-builder .badge {
	background-color: #5bc0de;
	padding: 4px 10px;
}

.ui-query-builder .badge + .badge {
	margin-left: 5px;
}
/* }}} */

/* Buttons {{{ */
.ui-query-builder .btn.btn-1,
.ui-query-builder .btn.btn-2,
.ui-query-builder .btn.btn-3,
.ui-query-builder .btn.btn-4
{
	color: #FFF;
	z-index: 1;
	min-height: 33px;
}

.btn-fill { /* Stretch an inner button to the maximum extent */
	margin: -8px -12px;
	min-height: 33px;
	padding: 8px;
}

.ui-query-builder .btn.btn-add {
	z-index: 1;
}

.ui-query-builder .btn.btn-1 {background: #104E8B}
.ui-query-builder .btn.btn-2 {background: #1874CD}
.ui-query-builder .btn.btn-3 {background: #1C86EE}
.ui-query-builder .btn.btn-4 {background: #1E90FF}

.ui-query-builder .btn > input.form-control {
	background: transparent;
	box-shadow: none;
	padding: 0;
	color: #FFF;
	height: auto;
	cursor: pointer;
	border: 0;
}

/* BUGFIX: Disable silly box-shadow when opening a dropdown {{{ */
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
/* }}} */
/* }}} */

/* Mouse hovering {{{ */
.ui-query-builder .btn i.fa-caret-down {
	float: right;
	margin-top: 2px;
	visibility: hidden;
}

.ui-query-builder .btn:hover i.fa-caret-down {
	visibility: visible;
}

.ui-query-builder .btn:hover > input.form-control {
	border-bottom: 1px solid #AAA;
}
/* }}} */

/* Stalks {{{ */
.ui-query-builder .row .col-join-root::after,
.ui-query-builder .row .col-join-both::after,
.ui-query-builder .row .col-join-left::after,
.ui-query-builder .row .col-join-left-add::after
{
	content: '';
	background: #BBB;
	position: absolute;
	z-index: 0;
}

.ui-query-builder .btn-add {
	padding: 8px 4px;
}

/* Root stalk {{{ */
.ui-query-builder .row .col-join-root::after {
	background: #BBB;
	top: 0;
	bottom: 0;
	left: 90px;
	right: 0;
}

.ui-query-builder .row .col-join-root.col-join-root-first::after {
	top: 15px;
	border-top-left-radius: 5px;
}

.ui-query-builder .row .col-join-root.col-join-root-last::after {
	bottom: 20px;
	border-bottom-left-radius: 5px;
}

.ui-query-builder .row .col-join-root-add::after {
	background: red;
	top: 0;
	bottom: 20px;
	left: 0;
	right: 20px;
}

.ui-query-builder .row .col-join-root-add {
	margin-left: 98px;
}
/* }}} */

/* Background stalks {{{ */
.ui-query-builder .row .col-join-both::after {
	top: 15px;
	bottom: 15px;
	left: 0;
	right: 0;
}

.ui-query-builder .row .col-join-left::after {
	top: 15px;
	bottom: 15px;
	left: 0;
	right: 50%;
}

.ui-query-builder .row .col-join-left-add::after {
	top: 13px;
	bottom: 20px;
	left: 0;
	right: 90%;
}
/* }}} /*
/* }}} */
